! Configuration File for keepalived

global_defs {
   notification_email {
     sysadmin@mydomain.com
     support@mydomain.com
   }
   notification_email_from lb1@mydomain.com
   smtp_server localhost
   smtp_connect_timeout 30
}

vrrp_instance VI_1 {
    state MASTER
    interface eth0
    virtual_router_id {{ (Routerid | items2dict(key_name='host', value_name='rout_id'))[inventory_hostname_short]  }}
    priority {{ (LoadBlance | items2dict(key_name='host', value_name='priority'))[inventory_hostname_short]  }}
    advert_int 1
    authentication { 
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ virtual_ip }}
    }
}
